.section-footer {
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    column-gap: 4.8rem;
    row-gap: 2.8rem;
    justify-items: start;
}

.footer-logo-container {
    margin-top: auto;
    grid-row: 2/3;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    text-decoration: none;
}

.foot-reg {
    grid-column: 2/3;
}

.footer-logo-icon {
    height: 3.8rem;
    width: 3.8rem;
    color: #eb3656;
}

.footer-logo-text {
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #e6e6e6;
}

.copyright {
    font-size: 1.4rem;
    letter-spacing: 0.75px;
    line-height: 1.6;
    color: #767780;
    margin-top: auto;
}

.footer-heading {
    margin-top: auto;
    grid-column: 2/-1;
    font-size: 2.4rem;
    letter-spacing: 0.75px;
    font-weight: 500;
    color: #e6e6e6;
}

.footer-address-container {
    grid-column: 2/-1;
    display: flex;
    gap: 4.8rem;
}

.address {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 1.6;
    color: #babbc0;
}

.footer-link-container {
    display: flex;
    align-items: flex-end;
}

.footer-btn {
    background-color: transparent;
    border: none;
    font-family: "Inter";
}

.footer-link:link,
.footer-link:visited,
.footer-btn {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    color: #cccdd0;
    transition: all 0.3s;
    letter-spacing: 0.25px;
}

.footer-link:hover,
.footer-link:active,
.footer-btn:hover {
    color: #ef5e78;
}