header {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    padding: 0 3.2rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #171a28, transparent 70%);
    width: 100vw;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    text-decoration: none;
}

.logo-text {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #e6e6e6;
}

.main-logo-icon {
    height: 2.8rem;
    width: 2.8rem;
    color: #eb3656;
}

.nav-signup {
    display: flex;

    align-items: center;
}

.nav-signed-name {
    font-size: 1.6rem;
    color: #e6e6e6;
    letter-spacing: 0.75px;
    font-weight: 500;
    margin-right: 1.2rem;
}

.nav-items {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    list-style: none;
    font-size: 1.6rem;
    gap: 1.8rem;
    align-items: center;
    backdrop-filter: blur(8px);
    border-radius: 20px;
}

.nav-item:link,
.nav-item:visited {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    transition: all 0.3s ease-in;
    display: inline-block;
    padding: 1rem;
    border-radius: 20px;
}

.nav-item:hover,
.nav-item:active {
    background-color: #eb3656;
}

.profile-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e8e8ea;
}

.signup-options {
    position: absolute;
    background-color: #e8e8ea;
    right: 2.4rem;
    bottom: -7rem;
    border-radius: 5px;
    overflow: hidden;
}

.signup-buttons {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.signup-button,
.login-button {
    width: 100%;
    border: none;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    font-family: "Inter";
    font-weight: 500;
    padding: 1.2rem;
    transition: all 0.3s;
}

.signup-button:hover,
.login-button:hover {
    background-color: #eb3656;
    color: #d1d2d5;
}

.btn-signup-arrow {
    border: none;
    background-color: transparent;
    transition: all 0.3s;
}

.btn-signup-arrow:hover {
    transform: translateY(-0.2rem);
}

.signup-icon {
    height: 2.8rem;
    width: 2.8rem;
    color: #e6e6e6;
}

.btn-logout {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0;
    overflow: hidden; 
}


.btn-logout:hover {
    transform: scale(1.1);
}

.logout-icon {
    width: 2.6rem;
    height: 2.6rem;
    color: #eb3656;
}

.customer-profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
}

.customer-profile-btn:hover {
    transform: scale(1.2);
}

.btn-menu,
.btn-menu-close,
.mobile-nav-item {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-menu {
    display: none;
}

.btn-menu-close {
    align-self: flex-start;
    padding-left: 2.4rem;
}

.menu-icon {
    height: 3.2rem;
    width: 3.2rem;
    color: #e6e6e6;
}

.mobile-nav-menu {
    background-color: #171a28;
    padding: 2.4rem 0;
    position: fixed;
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    gap: 8rem;
    transition: all 0.4s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.mobile-nav-items {
    display: flex;
    /* background-color: yellow; */

    list-style: none;
    flex-direction: column;
}

.mobile-nav-item {
    width: 100%;
    text-align: left;
    color: #e6e6e6;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    padding: 1.6rem 2.4rem;
    transition: all 0.3s;
    font-family: inherit;
}

.mobile-nav-name {
    color: #e6e6e6;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    padding: 1.6rem 1.6rem 1.6rem 2.4rem;
    line-height: 1.6;
    margin-top: auto;
}

.mobile-nav-item:hover {
    color: #eb3656;
}

.mobile-nav-list-item {
    border-bottom: 1px solid #313441;
}

.mobile-nav-list-item:last-child {
    border-bottom: none;
}